<p id="notice"><%= notice %></p>

<p>
  <b>Text date:</b>
  <%= @text_verizon.text_date %>
</p>

<p>
  <b>Text time:</b>
  <%= @text_verizon.text_time %>
</p>

<p>
  <b>Text contact number:</b>
  <%= @text_verizon.text_contact_number %>
</p>

<p>
  <b>Text direction:</b>
  <%= @text_verizon.text_direction %>
</p>


<%= link_to 'Edit', edit_text_verizon_path(@text_verizon) %> |
<%= link_to 'Back', text_verizons_path %>
