<%= form_for(@linked_in_invitation) do |f| %>
  <% if @linked_in_invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@linked_in_invitation.errors.count, "error") %> prohibited this linked_in_invitation from being saved:</h2>

      <ul>
      <% @linked_in_invitation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :date_sent %><br />
    <%= f.date_select :date_sent %>
  </div>
  <div class="field">
    <%= f.label :accepted %><br />
    <%= f.check_box :accepted %>
  </div>
  <div class="field">
    <%= f.label :initiator %><br />
    <%= f.text_field :initiator %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
