<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @linked_in_invitation.name %>
</p>

<p>
  <b>Date sent:</b>
  <%= @linked_in_invitation.date_sent %>
</p>

<p>
  <b>Accepted:</b>
  <%= @linked_in_invitation.accepted %>
</p>

<p>
  <b>Initiator:</b>
  <%= @linked_in_invitation.initiator %>
</p>

<p>
  <b>Invitation:</b>
  <%= @linked_in_invitation.invitation_id %>
</p>


<%= link_to 'Edit', edit_linked_in_invitation_path(@linked_in_invitation) %> |
<%= link_to 'Back', linked_in_invitations_path %>
