$('#contactDetail,#contactTagDetail,#contactTagHeader').html("");
$('#contactDetail').append("<h1><%= @contact.handle_linked_in %></h1><p><%= j link_to "Edit", edit_contact_path(@contact) %>");
<% @touchpoints.each do |t| %>
	$('#contactDetail').append(
		"<li>" +
		"<%= j render partial: "/touchpoints/partials/#{t.name}_#{t.direction}_current_user", :locals => { :subject => t.subject} %>" +
		"</li>"
		);
<% end %>

$('#contactTagHeader').append(
	"<%= j render partial: "/contacts/tag_form", :locals => { :contact => @contact.id } %>"
	);

<% @tags.each do |tag| %>
	$('#contactTagDetail').append(
		"<%= j render partial: "/contacts/tags", :locals => { :tag => tag} %>"
		);
<% end %>